.heading{
    text-align: center;
    color: #3d2b05;
    margin-left: 20px;
    padding-bottom: 15px;
    padding-bottom: 15px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 40px;
}
.pic{
    margin-top: 500px;
}